* {
  margin: 0;
  padding: 0;
  background-color: #d6d6c2;
}

h1,
h2,
h3 {
  text-align: center;
  padding: 1rem 0;
}

div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  padding: 1rem 0.5rem;
  margin: 0 0.5rem;
  transition-duration: 0.2s;
}

button:hover {
  background-color: #525249;
  color: white;
}
